{sub_dirs, ["src", "rel"]}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "1.2.1"}}},
    {rstar, ".*", {git, "https://github.com/armon/erl-rstar.git", {branch, "master"}}},
    {em, ".*", {git, "git://github.com/sheyll/erlymock.git", {branch, "master"}}},
    {eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
]}.

